<!DOCTYPE html>
<html class="js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}{% endblock %}
      {% block title_suffix %}{% endblock %}
    </title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{static('img/favicon.ico')}}" type="image/vnd.microsoft.icon">

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{{static('css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static('css/LW_Wagtail.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static('css/old-compiled-styles.css')}}">

    {# Global javascript #}

    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">

    <div id="page">

      {% include "main_menu.html" %}

      <div id="main-wrapper">

        <aside id="sidebar">
          {% block sidebar %}{% endblock %}
        </aside> <!-- /#sidebar -->

        <main>
          <header>
            <div class="breadcrumb" id="breadcrumb">
              {% block breadcrumb %}{% endblock %}
            </div>

            <div class="tabs">
              {% block tabs %}{% endblock %}
            </div>

            <a id="main-content"></a>
            {% block title_prefix %}{% endblock %}

            {% if title %}
              <h1 class="title" id="page-title">{{title}}</h1>
            {% endif %}

            {% if action_links %}
              <ul class="action-links">
                {% block action_links %}{% endblock %}
              </ul>
            {% endif %}
          </header>

          {% block content %}{% endblock %}

        </main>

      </div> <!-- /#main-wrapper -->

      <footer id="footer">
        {% block footer %}{% endblock %}
      </footer> <!-- /#footer -->

      {{ wagtailuserbar() }}

    </div> <!-- /#page -->

  </body>

</html>
