<header id="header">
  <div id="logo">
    <a href="/" title="Home" rel="home">
      <img src="{{static("img/lw-logo.svg")}}" alt="Home" />
    </a>
  </div>

  <nav id="primary-menu-nav">
    {{ main_menu() }}
  </nav>

  <nav id="secondary-menu-nav">
    <ul>
      {% if request.user.is_authenticated %}
          <li><a href="/admin/account/">
            {% include "core/components/user.svg" %}
          </a></li>

          <li><a href="/user/logout/">
            {% include "core/components/sign_out.svg" %}
          </a></li>

      {% else %}
          <li><a href="/admin/login/?next={{request.path}}">
            {% include "core/components/sign_in.svg" %}
          </a></li>
      {% endif %}
    </ul>
  </nav>

</header>
