{% extends "base.html" %}

{% block title %}LessWrong на русском | Статьи по рациональному мышлению{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{static('css/home/front-block.css')}}">
{% endblock %}

{% block sidebar %}
{% include 'home/sidebar_content.html' %}
{% endblock %}

{% block content %}
  {% include 'home/hero.html' %}
  {% include_block page.site_areas %}
{% endblock content %}

{% block header %}
   text in header
{% endblock %}

{% block footer %}
    text in footer
{% endblock %}
