.front-block {
  text-decoration: none;
  color: black;
}

.front-block > div {
  border-left: #777 4px solid;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 780px) {
  .front-block > div {
    padding: 10px;
  }
}

.front-block img {
  height: auto;
}

.front-block header {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 8px;
  text-decoration: underline;
  font-family: georgia, serif;
}

.front-block p {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "pt sans", "PT Sans", arial, sans-serif;
}

.front-block--icon {
  width: 50px;
  margin-right: 20px;
}

@media (max-width: 780px) {
  .front-block--icon {
    margin-right: 10px;
  }
}
